.homeView{
	
	.center-content {
		background: linear-gradient(135deg, #ff0000, #ec0000, #ff7400, #f2d000, #ffdb00);
		background-size: 1000% 1000%;
		animation: background 26s ease infinite;
	}
}

@keyframes background { 
	0%{background-position:1% 0%}
    50%{background-position:99% 100%}
    100%{background-position:1% 0%}
}