<div>
    <ion-list>
        <div class="row row-wrap responsive-sm">
            <ion-item class="col col-50">
                <div class="profile">
                    <img src="img/fry.png" alt="picture of me" />
                </div>
            </ion-item>
            <ion-item class="col col-50 bg-transparent">
                <h1 style="white-space: normal">Hello, my name is Marcus Turnbull</h1>
            </ion-item>
            <ion-item class="col col-100  bg-transparent">
                <p style="font-size: large; white-space: normal; color: white;">
                    I am a computer programmer.  I have 3 children; Harrison, Willow and Astrid, and a bird named "Flappy".
                </p>
            </ion-item>
        </div>
    </ion-list>



</div>